
.video-js{
    width: 100%;
    height: 100%;
}

.main-video{
    background: url('../src/img/main-tv.png');
    background-size: 100% 100%;
    height: 215px;
}

/*sm ≥ 768px Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .main-video{
        height: 430px; 
        padding: 8px 48px 54px 46px;

    }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .main-video{
        height: 570px; 
        padding: 8px 64px 69px 60px
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .main-video{
        height: 490px; 
        padding: 8px 78px 61px 71px;
    }
}
