/*
 * sections
 */
html {
    opacity: 0;
    width: 100%;
    height: 100%;

}
body {
    width: 100%;
    height: 100%;
    color: @font-color;
    background-color: @secondary-color;
}

.full-section {
    padding-top: 40px;

    margin: auto;
    left: 0;
    right:0;

    h1{
        text-align: center;
    }

    &.primary{
        background: @primary-color;

    }
    &.secondary{
        background: @secondary-color;
    }
}

/*sm ≥ 768px Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .full-section {
        padding-top: 50px;
        /*min-height: 50%;*/
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .full-section {
        padding-top: 100px;//because of menu
        min-height: 100%;
    }
}

/* 1 home*/
section#home{
    padding-top: 60px;
    

    position:fixed;
    top:0;
    z-index: 100;

    /*-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;*/
    /*-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;*/
    transition: all .5s ease-in-out;


    .container{
        padding-left: 0px;
        padding-right:  0px;
    }

    h1{
        margin-top: 5px;
        font-size: 18px;
    }

}

body.show-list{
    section#home{
        /*padding-top: 60px;*/
        top:-100%;
        z-index: 50;

    }
}
body.show-list.show-video{
    section#home{
        position: fixed;
        /*padding-top: 60px;*/
        top:0;

    }
}

@media (min-width: 768px) { 
    section#home{
        padding-top: 100px;//because of menu

        h1{
            font-size: 24px;
        }
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section#home{
        .container{
            padding-left: 15px;
            padding-right:  15px;
        }

    }

}

/* List */
section#list
{
    position:absolute;

    top: 0;
    min-height: 150%;

}
